section.banner.py-5
    .container.py-5
        .row
            .banner__content.col-lg-6.col-sm-12
                h3= banner_content.sub_title
                h2= banner_content.big_title
                p= banner_content.desc
                .banner__btn
                    button.btn.btn-yellow= banner_content.btn_content.btn_yellow
                    button.btn.btn-outline-yellow= banner_content.btn_content.btn_outline_yellow