section.contact
    .container
        .contact__content
            h3= contact_content.title_top
            h3= contact_content.title_bottom
                span= contact_content.phone
            .contact__btn
                button.btn.btn-yellow= contact_btn.yellow
                button.btn.btn-outline-yellow= contact_btn.outline_yellow