footer.footer
    .footer__top
        .container
            .row
                .col-12.col-lg-4.footer__media
                    h3
                        +logo(logo.title, logo.src, logo.alt, logo.link)
                    p= footer_media_content
                    h5 Follow us:
                        each val in footer_media
                            a(href= val.link)
                                i(class= val.icon)
                .col-12.col-md-6.col-lg-4.footer__contact
                    h3 Contact Us
                        each val in footer_contact
                            +contact__item(val.title, val.desc)
                    h3 Payments we accept
                    .footer__pay
                        each val in footer_pay
                            img(src= val.src, alt= val.alt)
                .col-12.col-md-6.col-lg-4.footer__subscribe 
                    h3= footer_subcribe.title
                    p= footer_subcribe.desc
                    form(action="#", method="post")
                        input(type="email", placeholder= "Email")
                        button(type="submit" class="btn btn-yellow")= footer_subcribe.button
                    h3= footer_subcribe.sub_title
    .footer__bottom
        .container
            p © 2020 Burger Bun. All rights reserved | Design by 
                a Hien Nguyen