mixin logo(title, src, alt, link)
    a(href= link, class="logo")
        img(src= src, alt= alt)
        = title

mixin section_title(sub_title, big_title, desc, highline)
    h5.title__small= sub_title
    h3.title__big= big_title
        if highline != ""
            span= highline
    if desc != ""
        p= desc

mixin products_item(srcImg, title, desc, alt)
    .products__item
        img(src= srcImg, alt= alt)
        h4= title
        p= desc
        a(href="#") View all

mixin infor__item-content(classIcon, title, desc)
    .row.infor__item-content
        .col-2
            i(class= classIcon)
        .col-10
            h6= title
            p= desc

mixin gallery__item(srcImg, alt)
    .col-12.col-sm-6.col-lg-3.gallery__item
        img(src= srcImg, alt= alt)
        .gallery__overlay
            .gallery__overlay-content
                i.fa.fa-plus
                h4 Delight your Best

mixin reasons__item(iconClass,title,desc)
    .col-12.col-sm-6.col-lg-3.reasons__item
        i(class= iconClass)
        h4= title
        p= desc

mixin contact__item(title, desc)
    p
        strong= title 
        = desc